[submodule "policies/azure-policy"]
	path = policies/azure-policy
	url = git@github.com:Azure/azure-policy.git
[submodule "policies/Community-Policy"]
	path = policies/Community-Policy
	url = git@github.com:Azure/Community-Policy.git
[submodule "policies/Entreprise-Scale"]
	path = policies/Entreprise-Scale
	url = git@github.com/Azure/Enterprise-Scale.git
[submodule "policies/entreprise-azure-policy-as-code"]
	path = policies/entreprise-azure-policy-as-code
	url = git@github.com:Azure/enterprise-azure-policy-as-code.git
[submodule "iac/terraform-provider-azurerm"]
	path = iac/terraform-provider-azurerm
	url = git@github.com:hashicorp/terraform-provider-azurerm.git
[submodule "iac/cdftf-provider-azurerm"]
	path = iac/cdftf-provider-azurerm
	url = git@github.com:cdktf/cdktf-provider-azurerm.git
[submodule "docs/azure-docs"]
	path = docs/azure-docs
	url = git@github.com:MicrosoftDocs/azure-docs.git
[submodule "prompts/Prompt-Engineering-Guide"]
	path = prompts/Prompt-Engineering-Guide
	url = git@github.com:dair-ai/Prompt-Engineering-Guide.git
[submodule "prompts/prompt-engineering"]
	path = prompts/prompt-engineering
	url = git@github.com:brexhq/prompt-engineering.git
[submodule "prompts/promptbase"]
	path = prompts/promptbase
	url = git@github.com:microsoft/promptbase.git
[submodule "prompts/Awesome-Prompt-Engineering"]
	path = prompts/Awesome-Prompt-Engineering
	url = git@github.com:promptslab/Awesome-Prompt-Engineering.git
